<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CEEP Newton Sucupira - Informações</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    crossorigin="anonymous"
  />
</head>
<body>
  <header>
    <nav class="container">
      <a href="../index.html" class="logo">
        <img src="/img/logoNewtonSuc.png" alt="Logo CEEP Newton Sucupira" />
      </a>
      <ul class="nav-links">
        <li><a href="../index.html" class="active">Home</a></li>
        <li><a href="../view/atualizacoes.html">Atualizações</a></li>
        <li><a href="../view/arrecadacoes.html">Ações</a></li>
        <li><a href="../view/informacoes.html">Informações</a></li>
        <li><a href="../view/vendas.html" class="btn">Login do Terceirão</a></li>
      </ul>
      <div class="menu-icon" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </nav>
  </header>

  <main class="container">
    <h1>Informações da Formatura</h1>
    <section class="informacoes">
      <h2>Data e Local</h2>
      <p>A cerimônia será no dia 15 de dezembro, no salão principal do CEEP Newton Sucupira.</p>

      <h2>Convites</h2>
      <p>Os convites já estão sendo preparados e serão entregues em breve.</p>

      <h2>Traje</h2>
      <p>O traje para a cerimônia é esporte fino.</p>

      <h2>Contato</h2>
      <p>Qualquer dúvida, entre em contato com a comissão pelo email: comissao@ceep.com.br</p>
    </section>
  </main>

  <footer>
    <div class="container footer-content">
      <div class="social-links">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-regular fa-envelope"></i></a>
        <a href="#"><i class="fa-regular fa-share-from-square"></i></a>
        <a href="#"><i class="fa-regular fa-folder"></i></a>
      </div>
      <p>Desenvolvido por Ariel Ramos</p>
    </div>
  </footer>
<script src="js/script.js"></script>
</body>
</html>
